<div class="row">
  <div class="col-md-6">
    <% active_player = Player.find(@round.active_player_id) %>
    <% inactive_player = Player.find(@round.inactive_player_id) %>
    <% binding.pry %>
    <h2>Pot: $<%= @round.pot + active_player.hand.bet + inactive_player.hand.bet%></h2>
    <h1><%= active_player.name %></h1>
    <% cards_in_hand = active_player.hand.cards %>
    <% if cards_in_hand != [] %>
      <% cards_in_hand.each do |card| %>
        <h1><%= card.image_string %></h1>
      <% end %>
    <% end %>

    <form action="/text/fold/round/<%= @round.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit">Fold</button>
    </form>
    <form action="/text/call/round/<%= @round.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit">Call</button>
    </form>
    <form action="/text/raise/round/<%= @round.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="raise"></label>
        <input type="number" name="raise">
      </div>
      <button type="submit">Raise</button>
    </form>
    <h3>Your opponent's bet: $<%= inactive_player.hand.bet %></h3></h3>
    <h3>Your current bet: $<%= active_player.hand.bet %></h3>
    <h3>Available funds: $<%= active_player.money %></h3>
  </div>
</div>
